{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Profile</title>
{% endblock %}
<style>
   .navbar-custom { 
            background-color: crimson; 
        } 
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% block content %}
<br/>
    <div class="container">
        <center><h3 style="color: crimson;">Edit User Details</h3></center>
        <form method="POST">
           {% csrf_token %}
           {{form|crispy}}
           <button class="btn btn-outline-success"> Submit</button>
        </form>
    </div>
{% endblock %}